* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

.tipografia-productos {
    font-family: 'Montserrat', sans-serif;
}

.tipografia-portada {
    text-shadow: 4px 4px 4px gray;
    font-family: sans-serif;
}

.dale-estilo {
    font-family: 'Fasthand';
}